.footer{
    width: 100%;
    border-top: 1px solid lightgray;
}
.footer .footer-container{
    width: 100%;
}
.footer .footer-container .footer-container-center{
    max-width: 1630px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}
.footer .footer-container .footer-container-center .footer-center-item{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-center-item-logo{
        width: 195px;
        height: 30px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .footer-center-item-button{
        width: fit-content;
        height: 40px;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 8px 16px;
        a{
            font-family: var(--font-family);
            font-size: 12px;
            text-decoration: none;
            text-align: center;
            color: #A1A3A8;
            svg{
                vertical-align: middle;
            }
        }
    }
}
.footer .footer-container .footer-container-center .footer-center-support{
    width: 100%;
    height: 26px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    p{
        font-family: var(--font-family);
        font-size: 12px;
        font-weight: normal;
        color: rgb(63, 64, 100);
    }
    span{
        display: inline-block;
        width: 1px;
        height: 10px;
        background-color: #A1A3A8;
    }
}
.footer .footer-container .footer-container-center .footer-center-features{
    width: 100%;
    height: 103px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1px;
}
.footer .footer-container .footer-container-center .footer-center-feature{
    width: 320px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer-feature-image{
        width: 56px;
        height: 56px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    p{
        font-family: var(--font-family);
        font-size: 11px;
        font-weight: normal;
        text-align: center;
        color: rgb(63, 64, 100);
    }
}
.footer .footer-container .footer-container-center .footer-center-category{
    width: 100%;
    height: 270px;
    margin-bottom: 30px;
    display: flex;

    .category-item-first{
        width: 424px;
        height: 100%;
        justify-content: space-between;
        p{
            width: 100%;
            height: 34px;
            margin-bottom: 10px;
            font-family: var(--font-family);
            font-size: 16px;
            font-weight: normal;
            color: rgb(63, 64, 100);
        }
        h5{
            width: 100%;
            height: 30px;
            margin-bottom: 8px;
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: normal;
            color: rgb(129, 133, 139);
        }
    }
    .category-item-second{
        width: 438px;
        height: 100%;
        justify-content: space-between;
        p{
            width: 100%;
            height: 34px;
            margin-bottom: 10px;
            font-family: var(--font-family);
            font-size: 16px;
            font-weight: normal;
            color: rgb(63, 64, 100);
        }
        h5{
            width: 100%;
            height: 30px;
            margin-bottom: 8px;
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: normal;
            color: rgb(129, 133, 139);
        }
    }
    .category-item-third{
        width: 445px;
        height: 100%;
        justify-content: space-between;
        p{
            width: 100%;
            height: 34px;
            margin-bottom: 10px;
            font-family: var(--font-family);
            font-size: 16px;
            font-weight: normal;
            color: rgb(63, 64, 100);
        }
        h5{
            width: 100%;
            height: 30px;
            margin-bottom: 8px;
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: normal;
            color: rgb(129, 133, 139);
        }
    }
    .category-item-fourth{
        width: 328px;
        height: 100%;
        justify-content: space-between;
        p{
            width: 100%;
            height: 34px;
            margin-bottom: 10px;
            font-family: var(--font-family);
            font-size: 16px;
            font-weight: normal;
            color: rgb(63, 64, 100);
        }
        h5{
            width: 100%;
            height: 30px;
            margin-bottom: 8px;
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: normal;
            color: rgb(129, 133, 139);
        }
    }
    .category-item-fourth-email{
        width: 300px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        input[type=email]{
            width: 600px;
            height: 45px;
            background-color: #F0F0F1;
            color: #A1A3A8;
            border: none;
            outline: none;
            border-radius: 8px;
            padding-right: 10px;
            font-family: var(--font-family);
            font-size: 15px;
            font-weight: normal;
        }
        .button{
            width: 160px;
            height: 42px;
            border-radius: 4px;
            border: none;
            background-color: #E0E0E2;
            color: #FFFFFF;
            font-size: 16px;
        }
    }
}
.footer .footer-container .footer-container-center .footer-center-apps{
    width: 100%;
    height: 110px;
    border-bottom: 1px solid lightgray;
}
.footer .footer-container .footer-container-center .footer-center-apps .footer-center-app{
    width: 100%;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 8px 16px;
    background-color: #3C4B6D;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    
    .footer-center-app-right{
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 20px;
        .fcar-logo{
            width: 44px;
            height: 44px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h3{
            font-family: var(--font-family);
            font-size: 21px;
            color: #FFFFFF;
        }
    }
    .footer-center-app-left{
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 15px;
        .fcal-item{
            width: 142px;
            height: 44px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .fcal-img{
            width: 43px;
            height: 44px;
            border-radius: 8px;
            background-color: #FFFFFF;
            margin-right: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
}
}
.footer .footer-container .footer-container-center .footer-center-about{
    width: 100%;
    height: 225px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;

    .footer-info{
        width: 1010px;
        height: 125px;
        padding: 40px 0;
        h1{
            font-family: var(--font-family);
            font-size: 21px;
            color: rgb(98, 102, 109);
        }
        p{
            font-family: var(--font-family);
            font-size: 12px;
            color: rgb(129, 133, 139);
            margin-top: 10px;
            line-height: 30px;
        }
        h5{
            font-family: var(--font-family);
            font-size: 12px;
            font-weight: normal;
            color: rgb(25, 191, 211);
            padding-top: 10px;
            svg{
                vertical-align: middle;
            }
        }
    }
    .footer-licenses{
        width: fit-content;
        height: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 8px;
        .footer-license{
            width: 110px;
            height: 110px;
            border: 1px solid lightgray;
            border-radius: 8px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 75px;
                height: 75px;
            }
        }
    }
}
.footer .footer-container .footer-container-center .footer-center-bottom{
    width: 100%;
    height: 85px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-family: var(--font-family);
        font-size: 11px;
        color: rgb(129, 133, 139);
        text-align: center;
    }
}
.footer .footer-logos{
    width: 100%;
    height: 160px;
    background-color: #F0F0F1;
    .footer-logos-center{
        max-width: 1630px;
        height: 100%;
        margin: 0 auto;
        background-color: #F0F0F1;
        .first{
            display: flex;
        }
        .seccond{
            display: flex;
        }
        .footer-logo{
            width: 182px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 124px;
                height: 20px;
            }
        }
    }
}
.border-left{
    border-left: 1px solid lightgray;
}
.border-bottom{
    border-bottom: 1px solid lightgray;
}